<div id="registered">
  <h2 style="margin-top: 3rem;">Thank you for chosing Domovik!</h2>
  <p id="mail">We have sent you an email that you should soon receive, please follow the link it contains to finalize you subscription.</p>
</div>
