<p>Hello,</p>

<p>
  The payment of your last Domovik invoice has failed. If you wish to continue using our service, please take a look at <a href="https://domovik.app/settings">your subscription settings</a>.
</p>

<p>
  If you prefer to part ways, you may want to download your data <a href="https://domovik.app/settings">on your settings page</a>.
</p>

<p>
  If you have any question, just reply to this email!
</p>


<p>
  Best regards,
</p>

The Domovik team
