Hello,

The payment of your last Domovik invoice has failed. If you wish to continue using our service, please take a look at your subscription settings (https://domovik.app/settings).

If you prefer to part ways, you may want to download your data on your settings page (https://domovik.app/settings).

If you have any question, just reply to this email!


Best regards,

    The Domovik team
