Hello,

Your Domovik free trial will soon end. If you wish to continue using our service, please add a payment method in your subscription settings (https://domovik.app/settings).

If you prefer to part ways, you may want to download your data on your settings page (https://domovik.app/settings).

If you have any question, just reply to this email!


Best regards,

    The Domovik team
