$background: #d3c7a2;
$accent: #931a11;
// $link: #436475;
$link: #234455; // Same, but darker
// $link: #1d3846;
$light: #436475;

$error: darkred;
$neutral: blue;
$positive: green;

$black: #121619;
$dark-grey: #333;
$mid-grey: #555;
$light-grey: #777;
$white: #ddd;
