/* Alerts and form errors */
.alert {
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
    border: 1px solid;
    @media screen and (max-width: $width-toggle) {
        padding: 0.5rem;
        margin: 0.5rem;
    }

    p {
        margin: 0;
    }
}
.alert:empty {
    display: none;
}
.alert-info {
    color: #31708f;
    border-color: #19535f;
}
.alert-warning {
    color: #8a6d3b;
    border-color: #faebcc;
}
.alert-danger  {
    color: $error;
    background-color: #f2dede;
}


.invalid-feedback {
    display: block;
    color: $error;
    font-weight: bold;
}
