Hello,

You can use the following link to reset your Domovik password:

<%= @url %>

Please note that resetting your password will make you lose all your
currently synced data, including your reading lists, as we can not
decypher them. Therefore, you should unlink then relink all of your
browsers to encrypt all of your data with your new password.

You can disregard this email if you didn't request a password reset.

Best regards,

The Domovik team.

--
https://domovik.app
