<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/account.js") %>"></script>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/pwd.js") %>"></script>
<script type="text/javascript">
 function doSubmit(form) {
     encryptPassword(form.elements.user_current_passphrase.value)
         .then(k => {
             form.elements.user_current_password.value = k;
         })
         .then(() => encryptPassword(form.elements.user_passphrase.value))
         .then(k => {
             form.elements.user_password.value = k;
         })
         .then(() => encryptPassword(form.elements.user_passphrase_confirmation.value))
         .then(k => {
             form.elements.user_password_confirmation.value = k;
         })
         .then(() => form.submit())
     ;
     return false;
 }
</script>
<div id="settings">
  <%= unless Application.get_env(:domovik, :free_instance) do %>
    <div class="section">
      <h2>Subscription</h2>
      <%= if Pow.Plug.current_user(@conn).subscription == "unsubscribed" do %>
        <script src="https://js.stripe.com/v3/"></script>

        <div class="prices">
          <button id="monthly">$3<sup>90</sup>/month</button>
          <button id="yearly">$39/year</button>
        </div>

        <script type="text/javascript">
         function createCheckoutSession(plan) {
             return fetch(`/subscription/${plan}`)
                 .then(result => result.json());
         }

         function handleResult(result) {
             if (result.error) {
                 var displayError = document.getElementById("alert-error");
                 displayError.textContent = result.error.message;
             }
         }

         var stripe = Stripe("<%= Application.get_env(:domovik, :stripe_public_key) %>");

         ["monthly", "yearly"].forEach(plan => {
             document
                 .getElementById(plan)
                 .addEventListener("click", function(e) {
                     createCheckoutSession(plan)
                         .then(session => stripe
                             .redirectToCheckout({sessionId: session.id})
                             .then(handleResult)
                         )
                 });
         })
        </script>
      <% else %>
        <%= link "❯ Manage your subscription", to: Routes.user_path(@conn, :stripe_portal) %>
      <% end %>
    </div>
  <% end %>

  <div class="section">
    <h2 style="margin-top: 4rem;">Downloads</h2>
    <p>
      <%= link "Download bookmarks",
      to: Routes.user_path(@conn, :download_bookmarks),
      download: "bookmarks.json",
      class: "dl" %>
    </p>
    <p>
      <%= link "Download reading lists",
      to: Routes.user_path(@conn, :download_reading_lists),
      download: "reading_lists.json",
      class: "dl" %>
    </p>
    <p>
      <%= link "Download tabs",
      to: Routes.user_path(@conn, :download_tabs),
      download: "tabs.json",
      class: "dl" %>
    </p>
  </div>

  <div class="section">
    <h2 style="margin-bottom: 0; margin-top: 4rem;">Account Details</h2>
    <p>Please note that changing your password will also change your
      encryption keys. After changing your password, <em>you should unlink
      then relink all of your browsers</em>, so that their data are encrypted
      with the new key.</p>
    <div class="form">
      <%= form_for @changeset, @action, [as: :user, onsubmit: "return doSubmit(this);"], fn f -> %>
        <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
        <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
        <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset) %>
        <%= if @changeset.data.unconfirmed_email do %>
          <div>
            <p>Click the link in the confirmation email to change your email to <%= content_tag(:span, @changeset.data.unconfirmed_email) %>.</p>
          </div>
        <% end %>

        <%= label f, :current_passphrase, "Current password" %>
        <%= error_tag f, :current_password %>
        <%= hidden_input f, :current_password %>
        <%= password_input f, :current_passphrase, name: "" %>

        <%= label f, :passphrase, "New password" %>
        <%= error_tag f, :password %>
        <%= hidden_input f, :password %>
        <%= password_input f, :passphrase, name: "" %>

        <%= label f, :passphrase_confirmation, "New password confirmation" %>
        <%= error_tag f, :password_confirmation %>
        <%= hidden_input f, :password_confirmation %>
        <%= password_input f, :passphrase_confirmation, name: "" %>

        <%= label f, :want_emails, "Receive news about Domovik" %>
        <%= checkbox f, :want_emails %>
        <div>
          <%= submit "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
